[workspace]
members = ["core", "machine", "nat", "router", "."]

[package]
name = "netsim-embed"
version = "0.3.0"
authors = ["David Craven <david@craven.ch>"]
edition = "2018"
description = "Network simulator."
license = "MIT"
repository = "https://github.com/ipfs-rust/netsim-embed"

[dependencies]
async-global-executor = "2.0.2"
async-process = "1.0.2"
env_logger = "0.8.3"
futures = "0.3.13"
netsim-embed-core = { version = "0.2.0", path = "core" }
netsim-embed-machine = { version = "0.2.0", path = "machine" }
netsim-embed-nat = { version = "0.2.0", path = "nat" }
netsim-embed-router = { version = "0.2.0", path = "router" }
pnet_packet = "0.27.2"
tracing = "0.1.25"

[dev-dependencies]
async-io = "1.3.1"
async-process = "1.0.2"
if-watch = "0.2.2"
ipnet = "2.3.0"
udp-socket = "0.1.1"
